.recipeDetails {
  display: grid;
  background-image: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  /* justify-content: center; */
}

.recipeHeader {
  color: #6ca429;
  background-color: rgb(255, 255, 255);
  width: auto;
  border-radius: 15px;
  padding: 0.5rem 0.3rem 1rem 0.3rem;
  border: 10px solid beige;
  text-align: center;
  justify-self: center;
  margin: 3vh;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.356);
}

.recipeDetailsCard {
  display: flex;
  place-self: center;
  justify-content: space-around;
  /* align-items: center; */
  width: 90vw;
  border: 1px solid rgba(0, 0, 0, 0.418);
  border-radius: 15px;
  padding: 15px 0 15px 0;
  margin: 8px 0 8px 0;
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.829);
}

.recipeDetailsImage {
  border-right: 50px solid rgba(255, 255, 255, 0.397);
  border-left: 50px solid rgba(255, 255, 255, 0.397);
  border-top: 30px solid rgba(255, 255, 255, 0.397);
  border-bottom: 50px solid rgba(255, 255, 255, 0.397);
  border-radius: 20px;
  max-width: 60vw;
  place-self: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.356);
}

.recipeDetailsIngredients {
  width: 50%;
  margin: 0 0 0 8rem;
  /* float: left; */
}

.recipeDetailsIngredients ul {
  padding: 0;
}

.recipeDetailsInstructions {
  width: 40%;
  /* float: left; */
  /* place-self: center; */
  margin: 0 8rem 0 0;
}
