.recipeDetails {
  display: grid;
  /* justify-content: center; */
}

.recipeDetailsCard {
  display: flex;
  place-self: center;
  justify-content: space-around;
  /* align-items: center; */
  width: 90vw;
  border: 1px solid rgba(0, 0, 0, 0.418);
  border-radius: 15px;
  padding: 15px 0 15px 0;
  margin: 8px 0 8px 0;
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.829);
}

.recipeDetailsImage {
  border-right: 150px solid rgba(255, 255, 255, 0.534);
  border-left: 150px solid rgba(255, 255, 255, 0.534);
  border-top: 35px solid rgba(255, 255, 255, 0.534);
  border-bottom: 35px solid rgba(255, 255, 255, 0.534);
  border-radius: 40px;
  max-width: 60vw;
  place-self: center;
}

.recipeDetailsIngredients {
  width: 50%;
  margin: 0 0 0 8rem;
  /* float: left; */
}

.recipeDetailsIngredients ul {
  padding: 0;
}

.recipeDetailsInstructions {
  width: 40%;
  /* float: left; */
  /* place-self: center; */
  margin: 0 8rem 0 0;
}
