.recipeDetails {
  display: grid;
  background-image: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  /* justify-content: center; */
}

.recipeHeader {
  color: #00000083;
  background-color: rgba(255, 255, 255, 0.938);
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.788);
  padding: 0.5rem 0.3rem 1rem 0.3rem;
  margin-bottom: -0.5rem;
  text-align: center;
  justify-self: center;
}

.recipeDetailsCard {
  display: flex;
  place-self: center;
  justify-content: space-around;
  /* align-items: center; */
  width: 90vw;
  border: 1px solid rgba(0, 0, 0, 0.418);
  border-radius: 15px;
  padding: 15px 0 15px 0;
  margin: 8px 0 8px 0;
  background-color: rgba(255, 255, 255, 0.925);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.829);
}

.recipeImageBackground {
  padding: 2vh 0 2vh 0;
  background-color: rgba(255, 255, 255, 0.432);
}

.recipeDetailsImage {
  border-radius: 5px;
  max-width: 60vw;
  place-self: center;
  /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.356); */
}

.recipeDetailsIngredients {
  width: 50%;
  margin: 0 0 0 8rem;
  color: #000000a2;
  /* float: left; */
}

.recipeDetailsIngredients ul {
  padding: 0;
}

.recipeDetailsIngredients li {
  list-style: none;
}

.recipeDetailsInstructions {
  width: 40%;
  color: #000000b6;
  /* float: left; */
  /* place-self: center; */
  margin: 0 8rem 0 0;
}
