div.cookBookCard {
  width: 18rem;
  height: 18rem;
  margin: 0 0 1rem 0;
  background: #fff;
  border: 8px outset rgba(255, 255, 255, 0.76);
  border-radius: 15px;
}

div.cookBookCardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  height: 100%;
  position: relative;
}

.cookBookCardTitle {
  margin: 2rem 0 0 0;
  color: #6ca429;
  font-weight: bold;
}

.cookBookCardText {
  text-align: left;
  margin: 0 1.8rem 0 1.8rem;
}

.deleteButton {
  width: 10rem;
  position: relative;
  bottom: 1rem;
  border-radius: 10px;
  place-self: center;
  font-weight: bold;
}
