/* .landing {
  margin-left: 6rem;
  color: rgba(0, 0, 0, 0.623);
} */

.Welcome {
  width: 50vw;
  margin-left: 100px;
  margin: 2 4 2 3;
  border-top: 6px solid rgba(255, 255, 255, 0.74);
  border-bottom: 6px solid rgba(255, 255, 255, 0.74);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.623);
  color: rgba(0, 0, 0, 0.623);

  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: inherit;
  text-align: center;
}
