form.auth__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  margin: 0 auto;
}

button.button__submit {
  max-width: 100px;
  margin: 1em auto;
}

form.signup__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  margin: 0 auto;
}

.landingPage {
  background-image: url(../images/mariana-medvedeva-FjryWdaqGEc-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.detailsPage {
  background-image: url(../images/mariana-medvedeva-FjryWdaqGEc-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.detailsPage button {
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.5rem;
  text-decoration: bold;
  padding: 0.8em 1.4em;
  margin-left: 1em;
  background-color: #299640;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  margin: 2vh 0 10vh 0;
}

.detailsPage button:hover {
  transform: scale(1.05);
  background-color: #6faf7d;
}

/* .savedBanner {
  width: 100vw;
  background: #fff;
  position: relative;
  bottom: 0;
} */

.signup {
  background-image: url(../images/mariana-medvedeva-FjryWdaqGEc-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footnote {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: rgba(128, 128, 128, 0.678);
  height: 35px;
  color: rgba(255, 255, 255, 0.89);
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}

.credits {
  margin-left: 5vh;
}

.footnote a {
  text-decoration: none;
}

.footnote i {
  color: rgba(255, 255, 255, 0.89);
  display: flex;
  align-self: flex-end;
  padding-top: 5px;
  margin-right: 5vh;
}
