.recipeResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.resultCard {
  display: block;
  background-color: #fff;
  align-items: center;
  place-self: center;
  width: 60vw;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.418);
  border-radius: 15px;
  padding: 15px 0 15px 0;
  margin: 8px 0 8px 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.493);
}

.recipeTitle {
  text-decoration: none;
  font: 20pt;
}

.recipeImage {
  height: 17vh;
  max-width: 200px;
  float: left;
  margin: 0 25px 5px 25px;
  border-radius: 5px;
  place-self: center;
  align-self: center;
}
.recipeDescription {
  float: left;
  place-self: center;
  align-self: center;
  margin: 0 2em 0 2em;
  /* margin-top: 5%; */
  font-size: 12pt;
  width: auto;
  height: auto;
  text-align: left;
}
@media only screen and (min-width: 600px) {
  .recipeDescription {
    margin: 2em 3em 0 2em;
  }
}
.recipeDescriptionRight {
  float: right;
  place-self: center;
  margin: 1px 3vw 1px 0;
  /* margin-top: 5%; */
  font-size: 12pt;
  width: 15%;
  height: auto;
  text-align: left;
}

.recipeDescriptionLeft ul {
  margin-top: 1px;
}

.recipeDescriptionRight ul {
  margin-top: 1px;
}
